@import "../../style/theme.less";

@card-prefix: ~'@{rc-prefix}-modal';

.@{card-prefix} {
  &-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0,0.7);
    z-index: 1000;
  }
  &-container {
    width: 500px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    margin:100px auto;
    z-index: 1200;
    padding: 20px;
    position: relative;
  }
  &-close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #999;
    font-size: 20px;
    
  }
  &-close:hover {
    cursor: pointer;
  }
}



