@import "../../style/theme.less";

@tip-prefix: ~'@{rc-prefix}-tip';
.@{tip-prefix} {
   position: relative;
   max-width: 200px;
   &:hover{
     cursor: pointer;
   }
   &-box{
     left: 50%;
     transform: translate(-50%,10%);
     min-width: 200px;
     max-width: 300px;
     min-height: 50px;
     border-radius: 8px;
     box-shadow: 0 6px 14px 0 rgba(0,0,0,.2);
     position: absolute;
     z-index: 1000;
     padding: 20px;
     background-color: #fff;
     color: rgb(104, 104, 104);
     font-size: 14px;
    &-arrow {
       left: 50%;
       transform: translateX(-50%) rotate(45deg);
       width: 0px;
       height: 0px;
       position: absolute;
       z-index: 100;
       border: 10px solid transparent;
       background: none;
    }
   }
}