.btn {
  border-radius: 20px;
  padding: 10px 20px;
  outline: none;
  margin:10px
}

.btn-empty {
  color: #0170fe;
  border:1px solid #0170fe;
  background:  none;
  
}

.btn-primary {
  background:  #0170fe;
  border:1px solid #0170fe;
  color: #fff;
}

.btn-primary:hover {
  background:  #4492f8;
  border:1px solid #4492f8;
}

.btn-empty:hover {
  color: #4492f8;
  border:1px solid #4492f8;
}

.btn:hover {
  cursor: pointer;
}