.icecream {
  color: #fff;
}
.card {
  border: 1px solid #e8e8e8;
  min-height: 300px;
  min-width: 100px;
  padding: 20px;
  background: #e8e8e8;
}
.card:hover {
  background: #000;
  color: #fff;
}
